{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}

	<h2 class="centered-text" style="font-style: italic;color: #555">
		Bienvenue, cher internaute, dans l'univers fascinant d'Internet, un réseau reliant des milliards d'individus à travers le monde. Avec environ 1,8 milliard de sites disponibles, vous avez choisi de visiter le nôtre, et toute l'équipe de Radio Guy Chauvet est extrêmement honorée de vous accueillir. Si vous vous demandez quel est le but de ce site, ne vous inquiétez pas, nous allons vous l'expliquer immédiatement. Ici, vous avez la possibilité d'écouter les émissions de la Webradio du lycée Guy Chauvet, situé à Loudun, en Nouvelle-Aquitaine. Notre programmation offre une diversité de contenus pour tous les goûts : des émissions portant sur l'Histoire, la musique, le cinéma, l'actualité, des jeux, et bien plus encore. Ce projet est soutenu financièrement par la Maison des lycéens de notre établissement, une association qui organise des animations pour les élèves. Nous espérons que vous passerez d'agréables moments en notre compagnie. Bonne navigation !<br><br> L'équipe de Radio Guy Chauvet
		</h2>

	<h1 class="display-full">A VENIR</h1>
	<h2 class="centered-text">
	- Le Journal  🚧 🚧 🚧
	</h2>
	<h1 class="display-full">LES EMISSIONS</h1>
	<div class="Cards">

		{% for e in emissions %}
			<div class="border- Card">
				<a href="emission/{{ e.NOM }}">
					<h3>{{ e.NOMLONG }}</h3>
					<img src="{{ asset('data/rubrique/' ~ e.NOM ~ '.png')}}" alt="image"/>
				</a>
			</div>
		{% endfor %}
	</div>

	<h1 class="display-full">LE JOURNAL</h1>
	<h1>
	🚧
	</h1>
	{# <div class="Cards column">
		{% for d in article %}
			<a class="border- Card" href="Article/view/{{ d.ID }}">
				<img src="general/nosrc.png" alt="nosrc"/>
				<a>
					<h2>
						{{ d.NOM }}</h2>
					<p>{{ d.DESCRIPTION }}</p>
				</a>
			</a>
		{% endfor %}
	</div> #}

	<h1 class="display-full">L'ÉQUIPE</h1>
	<div class="Cards">
		<div class="border- Card">
			<a href="{{ path('app_lycee_index') }}">
				<h3>LE LYCEE</h3>
				<img src="{{ asset('data/general/lycee_Guy-Chauvet.PNG')}}" alt="LYCEE"/>
			</a>
		</div>
		<div class="border- Card">
			<a href="{{ path('app_membres_index') }}">
				<h3>LA WEB RADIO</h3>
				<img src="{{ asset('data/general/rd.png')}}" alt="WBRADIO"/>
			</a>
		</div>
	</div>
{% endblock %}
