{% extends 'base.html.twig' %}

{% block body %}

<h1 style="text-align: center; font-size: 50px; padding-bottom: 40px">Mentions légales</h1>

<!-- Directeur de publication -->
<div class="mention">

    <div class="mention-titre">
        <img src="{{ asset('data/general/icones/ovale_bleu_icone.png')}}" alt='mention-logo'>
        <h1>Directeur de publication :</h1>
    </div>
    <!-- Description -->
    <p class="mention-description">Le proviseur de l'établissement.</p>



    <!-- Raison scociale -->
        <div class="mention-titre">
            <img src="{{ asset('data/general/icones/rectangle_jaune_icone.png')}}" alt='mention-logo'>
            <h1>Raison sociale : </h1>
        </div>
        <!-- Description -->
        <p class="mention-description">
            LYCEE GENERAL ET TECHNOLOGIQUE GUY CHAUVET <br>
            Rue DE L EPERON <br>
            86206 LOUDUN <br>
            Téléphone : 0549981751
        </p>



    <!-- Hébergeur -->
        <div class="mention-titre">
            <img src="{{ asset('data/general/icones/exagone_rose_icone.png')}}" alt='mention-logo'>
            <h1 class="mention-titre">Hébergeur : </h1>
        </div>
        <!-- Description -->
        <p class="mention-description">
            LYCEE GENERAL ET TECHNOLOGIQUE GUY CHAUVET <br>
            Rue DE L EPERON <br>
            86206 LOUDUN <br>
            Téléphone : 0549981751
        </p>

    <div class="mention border-">
                        <div class="mention-titre">
                                <!-- Protection des données -->
                            <img src="{{ asset('data/general/icones/ovale_bleu_icone.png')}}" alt='mention-logo'>
                            <h1 class="mention-titre">Protection des données :</h1>
                            <img src="{{ asset('data/general/sansinfo.png')}}" alt='mention-logo'>
                        </div>
                    
                        <div class="mention-liens">
                            <!-- Responsable du traitement -->
                            <!-- <img src="../images/sansinfo.png" alt="questinfo" class="infos close"> -->
                        
                            <img src="{{ asset('data/general/icones/ovale_bleu_icone.png')}}" alt='mention-logo'>
                            <h1 class="mention-titre">Responsable du traitement</h1>
                        </div>
                  
                        <p class="texteMention" style="margin-left: 45px;">Le LYCEE GENERAL ET TECHNOLOGIQUE GUY CHAUVET est responsable du
                            traitement des données.</p>
                        <div class="mention-liens">
                            <img src="{{ asset('data/general/icones/rectangle_jaune_icone.png')}}" alt='mention-logo'>
                            <h1 class="mention-titre">Objectif du traitement</h1>
                        </div>
                        <h2 class="TitreMention">Finalités du traitement :</h2>
                        <p class="TexteMention">Certains des services proposés sur notre site web nécessitent le
                            traitement des données à caractère personnel vous concernant.
                            Nous traitons les données à caractère personnel collectées sur notre site web pour les
                            finalités suivantes :</p>
                        <p class="TexteMention"><strong>·</strong> Pour vous permettre d’avoir accès à notre site web
                            pour consulter la diffusion d'informations. Pour cette finalité nous avons recours à
                            l’utilisation de cookies. Concernant les cookies, veuillez consulter la politique relative
                            aux cookies ;</p>
                        <p class="TexteMention"><strong>·</strong> Pour la gestion des demandes que vous pourriez nous
                            envoyer par le biais d'un formulaire sur notre (nos) site(s) internet ;</p>
                        <p class="TexteMention"><strong>·</strong> À des fins statistiques et d’obligation
                            réglementaire, nous enregistrons les logs de connexion (Adresse IP, type de navigateur, date
                            et heure de consultation, page consultée et référent (Referrer en anglais)).</p>
                        <p class="TexteMention">Nous ne réutilisons pas les données pour une autre finalité que celle
                            que nous avons déclarée. Nous ne communiquerons jamais les données à caractère personnel
                            vous concernant à des fins de marketing.</p>
                        <h2 class="TitreMention">Base légale :</h2>
                        <p class="TexteMention">Article 6 (1) e du règlement général sur la protection des données -
                            RGPD
                            Ce traitement de données est nécessaire à l’exécution d’une mission d’intérêt public ou
                            relève de l'exercice de l'autorité publique dont est investie le proviseur de
                            l'établissement en application du règlement général sur la protection des données et de la
                            loi Informatique et Libertés modifiée.</p>
                        <div class="mention-liens">
                            <img src="{{ asset('data/general/icones/exagone_rose_icone.png')}}" alt='mention-logo'>
                            <h1 class="mention-titre">Données traitées</h1>
                        </div>
                        <h2 class="TitreMention">Catégories des données :</h2>
                        <p class="TexteMention"><strong>·</strong> Identité, fonctions, coordonnées ;</p>
                        <p class="TexteMention"><strong>·</strong> Données relatives à la navigation sur les sites web
                            (horodatage, adresse IP des usagers, données techniques relatives à l’équipement et au
                            navigateur utilisés par les usagers, cookies) et sur les plateformes numériques via des
                            boutons de partage et des médias (cookies et autres traceurs) ;</p>
                        <p class="TexteMention"><strong>·</strong> Données relatives à la gestion des contacts usagers
                            (horodatage et objet de la demande, suivi, suites apportées, statistiques) ;</p>
                        <p class="TexteMention"><strong>·</strong> Données relatives à la gestion des publications
                            (objet, livrable, suivi, statistiques) ;</p>
                        <p class="TexteMention"><strong>·</strong> Données relatives à la gestion des prestations
                            techniques (horodatage et objet des demandes, suivi, suites données, statistiques) ;</p>
                        <p class="TexteMention"><strong>·</strong> Statistiques d’audience des sites web et
                            d’utilisation des services en ligne proposés.</p>
                        <h2 class="TitreMention">Source des données traitées :</h2>
                        <p class="TexteMention"><strong>·</strong> Personnels de la structure en charge de la
                            publication des contenus et de l’administration technique du(des) site(s) web ;</p>
                        <p class="TexteMention"><strong>·</strong> Contributeurs aux publications ;</p>
                        <p class="TexteMention"><strong>·</strong> Usagers des sites web administrés par la structure ;
                        </p>
                        <p class="TexteMention"><strong>·</strong> Personnels des éventuels prestataires concernés.
                            (Sous-traitant).</p>

                        <h2 class="TitreMention">Caractère obligatoire du recueil des données et conséquences
                            éventuelles de la non-fourniture de ces données :</h2>
                        <p class="TexteMention"><strong>·</strong> Les données collectées (notamment les cookies) à
                            l’occasion de la navigation pour la mesure de l’audience du(des) site(s) web et de
                            l’utilisation des services en ligne présentent un caractère facultatif.</p>
                        <p class="TexteMention"><strong>·</strong> Pour les commentaires des articles, les cookies sont
                            utilisés pour vous permettre d'en faire le suivi (modification du contenu). Leur
                            désactivation entraînera l'impossibilité de cette finalité.</p>
                        <p class="TexteMention"><strong>·</strong> Les données collectées pour la réalisation des autres
                            finalités sont recueillies de façon obligatoire, sauf – dans le cas d’une collecte directe -
                            mention contraire dans le formulaire concerné (ou sur la plateforme numérique concernée)</p>
                        <div class="mention-liens">
                            <img src="{{ asset('data/general/icones/ovale_bleu_icone.png')}}" alt='mention-logo'>
                            <h1 class="mention-titre">Personnes concernées</h1>
                        </div>
                        <h2 class="TitreMention">Le traitement de données concerne :</h2>
                        <p class="TexteMention"><strong>·</strong> Les personnels de la structure en charge de la
                            publication des contenus et de l’administration technique du (des) site(s) web ;</p>
                        <p class="TexteMention"><strong>·</strong> Les membres et personnels de la structure, ainsi que
                            les tiers, identifiés dans les publications ainsi que les éventuels documents associés ;</p>
                        <p class="TexteMention"><strong>·</strong> Les usagers des sites web administrés par la
                            structure ;</p>
                        <p class="TexteMention"><strong>·</strong> Les personnels des prestataires concernés.
                            (Sous-traitant).</p>
                        <p class="TexteMention"><strong>·</strong> Les usagers du(des) site(s) web administré(s) par la
                            structure concernant les données publiées sur le (les) site(s) web ;</p>
                        <p class="TexteMention"><strong>·</strong> Les personnels responsables de la supervision de la
                            sécurité des systèmes d’information de la structure.</p>
                        <div class="mention-liens">
                            <img src="{{ asset('data/general/icones/rectangle_jaune_icone.png')}}" alt='mention-logo'>
                            <h1 class="mention-titre">Destinataires des données traitées</h1>
                        </div>
                        <h2 class="TitreMention">Catégories de destinataires</h2>
                        <p class="TexteMention">En fonction de leurs besoins respectifs, sont destinataires de tout ou
                            partie des données :
                            Les personnels de la structure en charge de la publication des contenus et de
                            l’administration technique du(des) site(s) web, et leur hiérarchie concernant les Adresses
                            IP, type de navigateur, date et heure de consultation, page consultée et référent (Referrer
                            en anglais) ainsi que les données statistiques ;
                            Les personnels de la structure chargés du traitement des demandes reçues via les formulaires
                            de contact ;
                            Les personnels des prestataires concernés (Sous-traitant) ;
                            Les usagers du(des) site(s) web administré(s) par la structure concernant les données
                            publiées sur le (les) site(s) web ;
                            Les personnels responsables de la supervision de la sécurité des systèmes d’information de
                            la structure.</p>
                        <h2 class="TitreMention">Transferts des données hors UE</h2>
                        <p class="TexteMention">Les publications sont susceptibles d’être accessibles, du fait de leur
                            présence sur Internet, hors de l’Union européenne.
                            Concernant l’hébergement des données, aucun transfert de données hors de l'Union européenne
                            n'est réalisé.</p>
                        <div class="mention-liens">
                            <img src="{{ asset('data/general/icones/exagone_rose_icone.png')}}" alt='mention-logo'>
                            <h1 class="mention-titre">Durées de conservation des données</h1>
                        </div>
                        <p class="TexteMention">Le LYCEE GENERAL ET TECHNOLOGIQUE GUY CHAUVET conserve les données selon
                            les durées d’utilités administratives définie dans le BO N°24 du 25 juin 2005 (Instruction
                            n° 2005-003 du 22-2-2005) ainsi qu’en fonction des durées utiles au projet pédagogique et
                            défini dans chaque autorisation signée par la personne concernée.
                            Les données relatives aux cookies sont conservées 3 mois maximum et celles concernant les
                            données de connexion (logs) sont conservées 1 an.
                            Les données collectées dans les formulaires :
                        <p class="TexteMention"><strong>·</strong> de contact : conservées pendant 1 an ;</p>
                        <p class="TexteMention"><strong>·</strong> des commentaires d'article : tant que l'auteur de
                            l'article ne le supprime pas.</p>
                        <p class="TexteMention"><strong>·</strong> des informations collectées par formulaire :
                            conservées pendant 3 ans ;</p>
                        Elles sont destinées aux différents services compétents de la structure.</p>
                        <div class="Titrement">
                            <h1 class="mention-titre">Sécurité</h1>
                        </div>
                        <p class="TexteMention">Les mesures de sécurité sont mises en œuvre conformément à la politique
                            de sécurité des systèmes d’information (PSSI) du rectorat, issue de la PSSI de l’Etat.</p>
                        <div class="Titrement">
                            <h1 class="mention-titre">À propos des cookies</h1>
                        </div>
                        <p class="TexteMention">Nous utilisons différents cookies sur le site pour améliorer
                            l’interactivité du site et nos services</p>
                        <h2 class="TitreMention">Qu'est-ce qu'un "cookie" ?</h2>
                        <p class="TexteMention">Un "cookie" est une suite d'informations, généralement de petite taille
                            et identifié par un nom, qui peut être transmis à votre navigateur par un site web sur
                            lequel vous vous connectez. Votre navigateur web le conservera pendant une certaine durée,
                            et le renverra au serveur web chaque fois que vous vous y reconnecterez. Les cookies ont de
                            multiples usages : ils peuvent servir à mémoriser votre identifiant client auprès d'un site
                            marchand, le contenu courant de votre panier d'achat, un identifiant permettant de tracer
                            votre navigation pour des finalités statistiques ou publicitaires, de mémoriser vos actions
                            et préférences (nom d'utilisateur, langue, taille des caractères et autres paramètres
                            d'affichage) pendant un temps donné, pour que vous n'ayez pas à réindiquer ces informations
                            à chaque fois vous consultez ces sites ou naviguez d'une page à une autre, etc.
                            En savoir plus sur les cookies, leur fonctionnement et les moyens de s’y opposer.</p>
                        <h2 class="TitreMention">Cookies internes nécessaires au site pour fonctionner</h2>
                        <p class="TexteMention">Nous utilisons un cookie pour les articles pourvus de commentaires.</p>
                        <h2 class="TitreMention">Cookies tiers destinés à améliorer l’interactivité du site</h2>
                        <p class="TexteMention">Le site s’appuie sur certains services proposés par des sites tiers. Il
                            s’agit notamment :
                        <p class="TexteMention"><strong>·</strong> Des vidéos diffusées sur le site (YouTube,
                            Dailymotion, etc...) ;</p>
                        <p class="TexteMention"><strong>·</strong> De présentations animées (Prezi, Genially, etc...) ;
                        </p>
                        <p class="TexteMention"><strong>·</strong> Et de tout autre intégration de site tiers sur nos
                            pages.</p>
                        <h2 class="TitreMention">Comment contrôler les cookies</h2>
                        <p class="TexteMention">Vous pouvez contrôler et/ou supprimer des cookies comme vous le
                            souhaitez. Vous avez la possibilité de supprimer tous les cookies déjà stockés sur votre
                            ordinateur et de configurer la plupart des navigateurs pour qu'ils les bloquent. Toutefois,
                            dans ce cas, vous devrez peut-être indiquer vous-mêmes certaines préférences chaque fois que
                            vous vous rendrez sur un site, et certains services et fonctionnalités risquent de ne pas
                            être accessibles.</p>
                        <div class="Titrement">
                            <h1 class="mention-titre">Les droits sur les données</h1>
                        </div>
                        <h2 class="TitreMention">Exercer ses droits :</h2>
                        <p class="TexteMention">Conformément au Règlement européen n°2016/679/UE du 27 avril 2016 sur la
                            protection des données et à la loi « informatique et libertés » du 6 janvier 1978 modifiée,
                            vous bénéficiez d’un ensemble de droits concernant vos données personnelles. Vous pouvez à
                            tout moment demander l’accès, la rectification, l’effacement, la portabilité ou la
                            limitation des données vous concernant, ou vous opposer à leur traitement.
                            <br>Vous pouvez exercer vos droits concernant ce traitement auprès de :
                        </p>
                        <p class="TexteMention"><strong>·</strong> proviseur de l'établissement</p>
                        <p class="TexteMention"><strong>·</strong> délégué à la protection des données (DPD ou DPO) du
                            lycée Guy Chauvet : dpd@lycee-guychauvet.fr ou par courrier postal : LYCEE GENERAL ET
                            TECHNOLOGIQUE GUY CHAUVET, Rue DE L EPERON, 86206 LOUDUN.
                            Pour en savoir plus sur l'exercice de vos droits, vous pouvez également consulter le site de
                            la Commission nationale de l'informatique et des libertés (CNIL)</p>
                        <h2 class="TitreMention">Réclamation auprès de la CNIL</h2>
                        <p class="TexteMention">Toute personne estimant que le droit à la protection de ses données
                            n’est pas assuré, peut introduire une réclamation auprès de la Commission Nationale de
                            l’Informatique et des Libertés (CNIL), 3 Place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX
                            07.</p>
    </div>

    <!-- Création de liens -->
        <div class="mention-titre">
            <img src="{{ asset('data/general/icones/exagone_rose_icone.png')}}" alt='mention-logo'>
            <h1>Création de liens :</h1>
        </div>

        <!-- Description liens -->
        <div class="desc-lien">
            <h3 style="margin-bottom: 25px;">Vers ce site : </h3>
            <ul style="list-style-type: disc;">
                <li style="margin-bottom: 25px;">Dans le cadre de sa mission de service public, le lycée Guy Chauvet éditeur du site,
                    autorise les liens hypertextes vers l'un quelconque des articles du site pour une utilisation
                    institutionnelle dans un cadre pédagogique. Toute utilisation à des fins commerciales ou
                    publicitaires est interdite. La mention explicite du site pointé dans l'intitulé du lien
                    est attendue.
                </li>

                <li>
                    Les pages du site ne doivent pas être imbriquées à l'intérieur des pages d'un autre site
                    (frame ou système apparenté) mais visibles uniquement par l'ouverture d'une fenêtre
                    indépendante.
                </li>
                <ul>
        </div>

{% endblock %}
