{% extends 'base.html.twig' %}

{% block title %}Audio index{% endblock %}

{% block body %}
    <h1>Audio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NOM</th>
                <th>DESCRIPTION</th>
                <th>HEURE</th>
                <th>DATE</th>
                <th>AUDIO</th>
                <th>AUTEURS</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audio in audio %}
            <tr>
                <td>{{ audio.id }}</td>
                <td>{{ audio.NOM }}</td>
                <td>{{ audio.DESCRIPTION }}</td>
                <td>{{ audio.HEURE ? audio.HEURE|date('H:i:s') : '' }}</td>
                <td>{{ audio.DATE ? audio.DATE|date('Y-m-d') : '' }}</td>
                <td>{{ audio.AUDIO }}</td>
                <td>{{ audio.AUTEURS }}</td>
                <td>
                    <a href="{{ path('app_audio_show', {'id': audio.id}) }}">show</a>
                    <a href="{{ path('app_audio_edit', {'id': audio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_audio_new') }}">Create new</a>
{% endblock %}
