{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe
{% endblock %}

{% block body %}
	<div class="mdp">
		<h1 class="display-full">Modifier le mot de passe</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<div class="register-username">
			{{ form_row(registrationForm.username, { 'label': "Nom de l'utilisateur", 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="register-password">
			{{ form_row(registrationForm.password, {
                    'label': 'Mot de passe',
                    'attr': {'class': 'form-control'}
                }) }}
		</div>

		<div class="register-role">
			{{ form_row(registrationForm.roles|join(','), { 'label': "Rôle de l'utilisateur", 'attr': {'class': 'form-control'} }) }}
		</div>


		<div class="register-terms">
			{{ form_row(registrationForm.agreeTerms, { 'label': "Accepter les conditions d'utilisation :", 'attr': {'class': 'form-check-input'} }) }}
		</div>

		<button type="submit" class="register-btn">S'enregistrer</button>
		{{ form_end(registrationForm) }}
	</div>
		<a href="{{ path('app_creation') }}" class="backlink">Revenir au menu</a>
{% endblock %}
