{% extends 'base.html.twig' %}

{% block title %}Les Emissions
{% endblock %}

{% block body %}
	<h1 class="display-full">Les Emissions</h1>

	{% set dispo = ['left','right'] %}
	{% for emission in emissions %}
		<div class="lemission {{ dispo[loop.index0 % 2]}}" data-path="{{ path ('app_emission_show', {'NOM': emission.NOM})}}">
			<img src="{{ asset('data/rubrique/' ~ emission.IMG) }}" alt="{{ emission.NOM }}" class="border-">
			<div class="emission-content">
				<h2>{{ emission.NOMLONG }}
					({{emission.NOM}})</h2>
				<p>{{ emission.DESCRIPTION }}</p>
			</div>
		</div>
	</div>
    {% if not loop.last %}
        <hr class="separator">
    {% endif %}
{% else %}
	<p>Aucune émission n'a été trouvée.</p>
{% endfor %}

<script>
	$(document).ready(function () {
$('.lesemission').click(function () {
window.location.href = $(this).data('path');
});
});
</script>{% endblock %}
