{% extends 'base.html.twig' %}

{% block title %}
	{{emission.nomlong}}
{% endblock %}

{% block body %}

	<div class="emission">
		<img src="{{ asset('data/rubrique/' ~ emission.IMG)}}" alt="img {{ emission.NOMLONG }}"/>
		<article>
			<h5>
				{{emission.nomlong}}
			</h5>
			<p>
				{{emission.description}}
			</p>
		</article>
	</div>


	{% if inscriptions|length > 0 %}

		<h1 class="display-full">INSCRIPTIONS EMISSIONS</h1>
		<div class="inscription">
			{% for inscr in inscriptions %}
				<div class="inscr">
					<h3>
						<i class="fas fa-chevron-right"></i>
						Formulaire n°
						{{ inscr.id }}
						Inscription jusqu'au
						{{ inscr.date|date('d M Y') }}
					</h3>
					{{ form_start(form) }}
					{{ form_row(form.NOM) }}
					{{ form_row(form.PRENOM) }}
					{{ form_row(form.MAIL) }}
					{{ form_row(form.TEL) }}
					{{ form_row(form.Inscription, {'value': inscr.id}) }}
					<button type="submit">S'inscrire</button>
					{{ form_end(form) }}
				</div>
			{% endfor %}
		</div>
	{% endif %}


	<h1 id="podcasts" class="header-page title">LES PODCASTS</h1>
	<hr size="5" width="50%" color="black"/>

	<div style="margin: 0 auto; width: 90%;">
		{% for audio in audios %}
			<div class="podcast border- ">
				<div class="audio-container" data-date="{{ audio.date|date('d-m-Y') }} / {{ audio.heure|date('H:i') }}" data-title="{{ audio.nom }}" data-info="{{ audio.description }}" data-ctime="0" data-src="{{ asset('data/audio/' ~ audio.audio)}}">
					<div class="lecteur-container">
						<div class="controls">
							<button class="ajouter"><img src="{{asset('data/general/ajouter.png')}}"></button>
							<button class="play"><img src="{{asset('data/general/play.png')}}" alt=""></button>
						</div>
						<div class="audiobar">
							<div class="topbar">
								<h3 class="audiotitre">{{audio.nom}}</h3>
								<p class="info-topbar">{{audio.auteurs}}</p>
								<p class="info-topbar">{{audio.description}}</p>
								<i style="font-size: 12px">
									{{ audio.date|date('d-m-Y') }}
									/
									{{audio.heure|date('H:i')}}
								</i>
							</div>
							<div class="audioplayer">
								<audio class="audio-src" src="" preload="metadata"></audio>
								<div class="tracker">
									<span class="current-time">00:00</span>
									<div class="progress">
										<input type="range" class="progress-track" name="progress-track" max="100" value="0">
									</div>
									<span class="duration">00:00</span>
								</div>
								<div class="volume">
									<button type="button" id="button-mute"><img src="{{asset('data/general/unmute.png')}}" alt=""></button>
									<input type="range" class="volume-track" name="volume-track" max="100" value="100">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>

	<script>

		function collapse(parent) {
$(parent).find('form').toggle();
$(parent).find('h3').find('svg').toggleClass('fa-chevron-down fa-chevron-right');
$(parent).toggleClass('collapsed');
}

$(document).ready(function () {
$('.inscription .inscr').each(function () {
$(this).find('form').hide();
$(this).addClass('collapsed');
});
$('.inscription .inscr h3').click(function () {
collapse($(this).parent());
});
});
	</script>

{% endblock %}
