{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Emission {{ inscription.EMS }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>DATE</th>
                <td>{{ inscription.DATE ? inscription.DATE|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Emission</th>
                <td>{{ inscription.EMS }}</td>
            </tr>

      
        </tbody>
    </table>

    

    <a href="{{ path('app_creation') }}">back to list</a>

    <a href="{{ path('app_inscription_edit', {'id': inscription.id}) }}">edit</a>

    {{ include('inscription/_delete_form.html.twig') }}
{% endblock %}
