{% extends 'base.html.twig' %}

{% block title %}Inscription emission
{% endblock %}
{% block body %}
	<h1 class="display-full">{{ emission.NOMLONG}} / n° : {{ inscription.ID}}</h1>
	<p>Fin des inscriptions jusqu'au: {{ inscription.DATE ? inscription.DATE|date('d M Y') : '' }}</p>
	<p style="margin: 2vh 0">Liste des participant : </p>
		<tbody>
			<table class="table">
				{% for participant in participants %}
					<tr>
						<td>{{ participant.PRENOM }}</td>
						<td>{{ participant.NOM }}</td>
						<td>{{ participant.TEL }}</td>
						<td>{{ participant.MAIL }}</td>
					</tr>
				{% endfor %}
			</table>
		</tbody>

		<a href="{{ path('app_creation') }}" class="backlink">Revenir au menu</a>
{% endblock %}
