{% extends 'base.html.twig' %}
{% block body %}
	<div class='lycee'>

		<h6 style="margin-bottom: 20px">Le Lycée Guy Chauvet</h6>

		<div class="logo_lycee">
			<img src="{{ asset('data/general/lycee_img.png')}}" alt="logo_lycee">
		</div>

		<div class="ly_text2">
			<p></p>
		</div>

		<div class="image_lycee">
			<img src="{{ asset('data/general/lycee_img.png')}}" alt="image_lycee">
		</div>

		<div class="ly_text2">
			<p></p>
		</div>
	</div>

	<div class="MDL">
		<h6 style="margin-bottom: 20px">La Maison des Lycéens</h6>

		<div class="mdl_text1">
			<p></p>
		</div>

		<div class="mdl_text2">
			<p></p>
		</div>

		<div class="logo_MDL">
			<img src="{{ asset('data/general/mdl.PNG')}}" alt="logo_MDL">
		</div>

		<div class="image_MDL1">
			<img src="{{ asset('data/general/nosrc.png')}}" alt="image_MDL1">
		</div>

		<div class="image_MDL2">
			<img src="{{ asset('data/general/nosrc.png')}}" alt="image_MDL2">
		</div>

	</div>
{% endblock %}
