{% extends 'base.html.twig' %}
{% block body %}
	<div class="web">
		<h1 class="display-full">La Web radio</h1>
		<img class="border- " src="{{ asset('data/general/lycee.PNG')}}" alt='typo' class='typo'>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
		</p>
	</div>

	<div class="pres-memb">
		<h1 class="display-full">Présentation des membres</h1>
		<table class="membre-container">
			<tr>
				{% for meb in membres %}
					<td class="membre-cell">
						<img src="{{ asset('data/equipe/' ~ meb.NOM ~ '_' ~ meb.PRENOM ~ '.png') }}" alt="Photo de {{ meb.NOM }} {{ meb.PRENOM }}">
						<div class="membre-info">
							<h3>{{ meb.PRENOM }}
								{{ meb.NOM }}</h3>
							<p>{{ meb.DESCRIPTION }}</p>
						</div>
					</td>
					{% if loop.index is even %}
					</tr>
					<tr>
					{% endif %}
				{% endfor %}
			</tr>
		</table>

	</div>
{% endblock %}
