{% block lecteur %}



	<div class="audio-container lecteur" data-date="{{ "now"|date('Y/m/d')}}" data-title="Aucun Podcast" data-info="..." data-ctime="0" data-src="{{ asset('data/audio/H2P/H2P Ep 1.wav') }}">
	<div class="Lbiblio hidden">
		{% for em, audios in lecteurdata %}
			<ul>
				<h4>
					{{ em }}
				</h4>
				{% for audio in audios %}
					<li>
						<button id="bibliobtn" data-date="{{audio.date|date('d-m-Y')}}" data-title="{{ audio.nom }}" data-info="{{audio.description}}" data-ctime="0" data-src="{{ asset('data/audio/'~audio.audio)}}">{{ audio.getNOM() }}</button>
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
	<div class="lecteur-container">
		<div class="controls">
			<button class="like"><img src="{{asset('data/general/like.png')}}" alt=""></button>
			<button class="next"><img src="{{asset('data/general/next.png')}}" style="transform: rotate(180deg)" alt=""></button>
			<button class="play"><img src="{{asset('data/general/play.png')}}" alt=""></button>
			<button class="next"><img src="{{asset('data/general/next.png')}}" alt=""></button>
		</div>
		<div class="audiobar">
			<div class="topbar">
				<h3 class="audiotitre">Aucun Podcast</h3>
				<p class="info-topbar">Auteurs</p>
				<i style="font-size: 12px">
					{{ "now"|date("d/m/Y") }}
				</i>
			</div>
			<div class="audioplayer">
				<audio class="audio-src" src="" preload="metadata"></audio>
				<div class="tracker">
					<span class="current-time">00:00</span>
					<div class="progress">
						<input type="range" class="progress-track" name="progress-track" max="100" value="0">
					</div>
					<span class="duration">00:00</span>
				</div>
				<div class="volume">
					<button type="button" id="button-mute"><img src="{{ asset('data/general/unmute.png')}}" alt=""></button>
					<input type="range" class="volume-track" name="volume-track" max="100" value="100">
				</div>
			</div>
		</div>
		<div class="extra ">
			<button class="biblio">
				<img src="{{ asset('data/general/biblio.png')}}" alt="">
				<span>Bibliothèque</span>
			</button>
		</div>
	</div>
	

{% block javascripts %}
    <script src="{{ asset('link.js') }}"></script>
{% endblock %}

<script>
</script>
{% endblock %}
