{% block nav %}

	<header>


		<!-- logo -->
		<a href="{{ path('app_home') }}"><img src="{{ asset('data/general/Logo.png')}}" alt="WebRadio" class="logo"/></a>
		<!-- navbar header -->
		<div
			class="headright">
			<!-- emission btn -->
			<div class="dropdown">
				<a href="{{ path('app_emission_index') }}">EMISSIONS</a>


				<div class="dropdown-content">
					{% for ems in header_emissions %}
						<a href="{{ path('app_emission_show', { 'NOM': ems.NOM } ) }}">{{ ems.NOMLONG }}</a>
					{% endfor %}
				</div>
			</div>


			<!-- journal btn -->
			<a href="">JOURNAL</a>

			<!-- equipe btn -->
			<div class="dropdown">
				<a href="{{ path('app_equipe_index') }}">L'EQUIPE</a>


				<div class="dropdown-content">
					<a href="{{ path('app_lycee_index') }}">Le Lycée</a>
					<a href="{{ path('app_membres_index') }}">Les Membres</a>
				</div>
			</div>
		</div>
		{% if app.user %}
			<div class="adminarea">
		{# get the role of the user, if admin, change the icon #}
		{# create a variable with ternary if #}
				{% set role = app.user.roles[0] == "ROLE_ADMIN" ? "fa-user-shield" : "fa-user" %}		
				<p class="text"><i class="fas {{ role }}" style="margin-right:10px"></i>{{ app.user.username }}</p>
				<a href="{{ path('app_logout') }}" class="loginbtn logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
				<a href="{{ path('app_creation') }}" class="loginbtn"><i class="fa-solid fa-user-pen"></i></a>
				<a href="{{ path('app_utilisateur_update', { 'id': app.user.id }) }}" class="loginbtn"><i class="fa-solid fa-key"></i></a>
			</div>
		{% else %}
			<div class="adminarea">
				<a href="{{ path('app_login') }}" class="loginbtn"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
			</div>
		{% endif %}
	</header>
{% endblock %}
